/* General */

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
button,
input {
    outline: none;
}
.done {
    text-decoration: line-through;
}
.important {
    font-weight: 700;
}
button:hover {
    cursor: pointer;
}

/* App */

.todo__container {
    padding: 150px 30%;
    display: flex;
    flex-direction: column;
}

/* AppHeader */

.header {
    margin-bottom: 20px;
    position: relative;
}
.todo__title {
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
}
.counter__todo {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* SearchPanel */

.input__area {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
}
.input__search {
    width: 100%;
    margin-right: 5%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(147, 98, 151);
}
.input__btns {
    justify-self: end;
}
.input__btns button {
    padding: 5px 10px;
    color: rgb(147, 98, 151);
    background-color: #fff;
    border: 1px solid rgb(147, 98, 151);

    transition: 0.2s linear;
}
.input__btns button:hover {
    background-color: rgba(147, 98, 151, 0.7);
    color: rgba(255, 255, 255, 0.7);
}
.first-btn {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.last-btn {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* Todo List */

.list__container {
    border: 1px solid rgb(147, 98, 151);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.list {
    display: grid;
    grid-gap: 10px;
    list-style: none;
}
.list li {
    padding: 5px 20px;
    border: 1px solid rgb(147, 98, 151);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* Todo List */

.btn {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid rgb(147, 98, 151);
    border-radius: 5px;

    transition: 0.2s linear;
}
.btn:hover {
    background-color: rgba(147, 98, 151, 0.5);
}
.item__btn {
    margin: 0 10px;
}
.delete__btn {
    margin-right: 10px;
}

/* AddTodoItem */

.add__area {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
}
.input__add {
    border-radius: 5px;
    border: 1px solid rgb(147, 98, 151);
    padding: 5px 10px;
}
.add__btn {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgb(147, 98, 151);

    transition: 0.2s linear;
}
.add__btn:hover {
    background-color: rgba(147, 98, 151, 0.7);
    color: rgba(255, 255, 255, 0.7);
}
